body {
    background: url("../images/vincent-burkhead-147113-unsplash.jpg");
    background-size: cover;
}

p {
    text-align: justify;
}

/* Basic */
.ui.basic.green.label {
    background: white !important;
    color: #21ba45 !important;
    border-color: #21ba45 !important;
}

.ui.basic.teal.label {
    background: white !important;
    color: teal !important;
    border-color: teal !important;
}

.ui.basic.orange.label {
    background: white !important;
    color: orange !important;
    border-color: orange !important;
}

/**********************Padding******************************/
.m-padded-around-min {
    padding: 0.2rem !important;
}

.m-padded-around-tiny {
    padding: 0.3rem !important;
}

.m-padded-tb-min {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}

.m-padded-tb-tiny {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.m-padded-tb-small {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.m-padded-tb-normal {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.m-padded-tb-big {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.m-padded-tb-large {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.m-padded-tb-huge {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.m-padded-tb-max {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.m-padded-lr {
    padding-left: 3rem;
    padding-right: 3rem;
}

/***************字体****************/
.m-text {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.8;
}

.m-text-thin {
    font-weight: 500 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

.m-text-lined {
    line-height: 1.8;
}

.m-opacity-min {
    opacity: 0.6 !important;
}

.m-opacity-tiny {
    opacity: 0.8 !important;
}

/************************Display***********************/
.m-inline-block {
    display: inline-block !important;
}

.m-container-small {
    max-width: 60rem;
    margin: auto;
}

.m-container-middle {
    max-width: 68rem;
    margin: auto;
}

.m-container-normal {
    max-width: 72rem;
    margin: auto;
}

/************************Position*******************************/
.m-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/*************************Margin**********************/
.m-margin-top-small {
    margin-top: 0.5rem;
}

.m-margin-top-normal {
    margin-top: 1rem;
}

.m-margin-top-large {
    margin-top: 2rem;
}

.m-margin-tb-min {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.m-margin-tb-tiny {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.m-margin-tb-small {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.m-margin-tb-normal {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/***********************Color**********************************/
.m-black {
    color: #333333;
}

/***************************Mobile config**********************************/
.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show {
        display: block !important;
    }
}