.m-padded-around-min {
    padding: 0.2em !important;
}

.m-padded-around-tiny {
    padding: 0.3em !important;
}

.m-padded-tb-min {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb-normal {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-big {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-large {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-max {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/***************字体****************/
.m-text {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.8;
}

.m-text-thin {
    font-weight: 500 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

.m-text-lined {
    line-height: 1.8;
}

.m-opacity-min {
    opacity: 0.8 !important;
}

/************************Display***********************/
.m-inline-block {
    display: inline-block !important;
}

.m-container {
    max-width: 72em;
    margin: auto;
}

/*************************Margin**********************/
.m-margin-top-small {
    margin-top: 0.5em;
}

.m-margin-top-normal {
    margin-top: 1em;
}

.m-margin-top-large {
    margin-top: 2em;
}

.m-margin-tb-min {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.m-margin-tb-tiny {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.m-margin-tb-small {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.m-margin-tb-normal {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/***********************Color**********************************/
.m-black {
    color: #333333;
}